/*------------------------------
 Reset Style
 
------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


*{
    touch-action: pan-y;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*------------------------------
Common Style
------------------------------*/
body {
	font-size: 100%;
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	color: #222;
  background-image:
  repeating-linear-gradient(to bottom,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04)2px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
  repeating-linear-gradient(to right,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}
header{
    height: 53px;
    position: fixed;
    background-color: #fff;
    max-width: 650px;
    width: 100%;
    z-index: 10;
    border-bottom: 1px solid #eee;
}
a {
    color: #007edf;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.wrapper {
    display: flex;
    margin: 0 auto 50px;
    padding: 0 20px;
    max-width: 1200px;
    align-items: flex-start;
}

h1 {
	margin-bottom: 30px;
    font-size: 100%;
    color: #222;
    text-align: center;
}
.back {
    text-decoration: none;
    color: #94847b;
    font-weight: bold;
    display: block;
    padding: 18px 22px 18px 22px;
    float: left;
}
.do_tweet {
    font-weight: bold;
    margin-left: 68px;
    line-height: 110%;
    font-size: 1.1rem;
    padding: 17px 0 17px 0;
}
/*-----------------------------------
入力エリア
-----------------------------------*/

label {
    display: block;
    margin-bottom: 7px;
    font-size: 86%;
}

input[type="text"],
textarea {
	margin-bottom: 20px;
	padding: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    font-size: 16px;
}
textarea {
    width: calc(100% - 100px);
    height: 1rem;
}
input[type="submit"] {
	appearance: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-size: 86%;
    line-height: 1.0em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fdf1c8;
    color: #94847b;
    font-weight:bold;
    position: absolute;
    top: 3px;
    right: 13px;
    display: none;

}
input[type=submit]:hover,
button:hover {
    background-color: #fdf1c8;
}

hr {
	margin: 20px 0;
	padding: 0;
}

.success_message {
    margin-bottom: 20px;
    padding: 10px;
    color: #48b400;
    border-radius: 10px;
    border: 1px solid #4dc100;
}

.error_message {
    margin-bottom: 20px;
    padding: 10px;
    color: #ef072d;
    list-style-type: none;
    border-radius: 10px;
    border: 1px solid #ff5f79;
}

.success_message,
.error_message li {
    font-size: 86%;
    line-height: 1.6em;
}


/*-----------------------------------
掲示板エリア
-----------------------------------*/

article {
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background: #fff;
}
article.reply {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
}
article.reply::before {
    position: absolute;
    top: -10px;
    left: 20px;
    display: block;
    content: "";
    border-top: none;
    border-left: 7px solid #f7f7f7;
    border-right: 7px solid #f7f7f7;
    border-bottom: 10px solid #fff;
}
	.info {
		margin-bottom: 10px;
	}
	.info h2 {
		display: inline-block;
		margin-right: 10px;
		color: #222;
		line-height: 1.6em;
		font-size: 86%;
	}
	.info time {
		color: #999;
		line-height: 1.6em;
		font-size: 72%;
	}
    article p {
        color: #555;
        font-size: 86%;
        line-height: 1.6em;
    }
    /*******************************
* 左からの吹き出し
********************************/
.left_balloon {
    position: relative;
    background: #efefef;
    border: 1px solid #efefef;
    margin: 5px;
    border-radius: 15px;
    clear: both;
    max-width: 500px;
    float: left;
    line-height:1.3rem;
    margin-left: 55px;
}
.left_balloon:after,
.left_balloon:before {
    right: 100%;
    top: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.left_balloon:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #efefef;
    border-width: 7px;
    margin-top: -7px;
}
.left_balloon:before {
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #efefef;
    border-width: 8px;
    margin-top: -8px;
}
.chat_left{
    display: flex;
    padding-right: 50px;
    position: relative;
}
.post_date_left{
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 0.6em;
    color: #8a9aa4;
}
.icon_img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    padding: 5px;
}
/*******************************
* 右からの吹き出し
********************************/
.right_balloon {
    position: relative;
    background: #fdf1c8;
    border: 1px solid #fdf1c8;
    margin: 5px;
    border-radius: 15px;
    clear: both;
    max-width: 500px;
    float: right;
    line-height:1.2rem;
    margin-left: 5px;
}
.right_balloon:after,
.right_balloon:before {
    left: 100%;
    top: 45%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.right_balloon:after {
    border-color: rgba(133, 226, 73, 0);
    border-left-color: #fdf1c8;
    border-width: 7px;
    margin-top: -7px;
}
.right_balloon:before {
    border-color: rgba(119, 119, 119, 0);
    border-left-color: #fdf1c8;
    border-width: 8px;
    margin-top: -8px;
}
.chat_right{
    display: flex;
    padding-left: 50px;
}
.post_date_right{
    margin-top: auto;
    margin-bottom: 15px;
    font-size: 0.6em;
    color: #8a9aa4;
    margin-left: auto;
}
.message{
    margin-bottom:0px;
}
.container{
    padding-top: 55px;
}
.form {
    position: fixed;
    bottom :0;
    width: 100%;
    max-width: 650px;
    background-color: #fff;
    z-index: 9;
    display: flex;
    border-top: 1px solid #eee;
}
/*******************************
* 割り込みを解除
********************************/
.clear_balloon{
  clear: both;
}
.name {
  margin-left:15px;
  font-size:0.7em;
}
.message {
  margin: 6px 1px 5px 1px;
  width: calc(100% - 110px);
  max-width: 600px;
  border-radius: 20px;
  background-color: #f5f5f5;
}
.container {
    padding-bottom: 105px;
}
.swal-button--confirm {
    background-color: #fdf1c8;
    color: #94847b;
  }
  .swal-button--confirm:focus {
    box-shadow:0 0 0 1px #fff,0 0 0 3px #fdf1c8;
  }
  .swal-button--confirm:hover{
    background-color:  #fdf1c8!important;
    opacity: 0.9;
  }
  .send_icon{
    position: absolute;
    padding: 12px 9px;
    cursor: pointer;
    right: 0;
  }
  .btn_open{
      display: initial;
  }
  
  .maxWidth {
      max-width: 650px;
      margin: 0 auto;
  }

  .date {
      text-align: center;
      margin: 10px 0;
  }
  .date p{
      background-color: #eee;
      color: #8a9aa4;
      display: inline;
      border-radius: 20px;
      font-size: 0.7rem;
      padding: 5px 10px;
  }

  .upload-label input {
    display: none;
}

.upload-label {
    appearance: none;
    -webkit-appearance: none;
    padding: 12px 9px;
    color: #94847b;
    line-height: 1.0em;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 1.6rem;
    margin: 0;
    left: 0;
}

.preview img{
    max-width: 30vw;
    height: auto;
}

.chat_right img{
    width: auto;
    height: 25vh;
    padding: 10px;
    border-radius: 20px;
}

.chat_left_img img{
    width: auto;
    height: 25vh;
    margin-right: auto;
    padding: 10px;
    border-radius: 20px;
    margin-left: 40px;
}

.lb-closeContainer {
    position: absolute;
    top: -40px;
    right: 20px;
    color: #fff;
    font-weight: bold;
}
.lb-closeContainer .lb-close {
    display: block;
    float: right;
    height: 24px;
    background-size: contain;
    text-align: right;
    outline: none;
}
.lb-closeContainer .lb-close:hover {
    cursor: pointer;
    opacity: 1;
}

.reply{
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 650px;
    background-color: #fff;
    z-index: 9;
    display: flex;
    border-top: 1px solid #eee;
}

.reply img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

.reply_to{
    flex-flow: column;
}

.reply_name {
    font-weight: bold;
    margin: 11px 0 5px 0;
    font-size: 0.75rem;
}

.reply_message {
    font-size: 0.65rem;
}

.show_reply {
    border-bottom: 1px solid #ddd;
    display: flex;
    padding: 5px 10px;
}

.show_reply_to{
    margin-left: 5px;
}

.reply_img{
    border-radius: 50% !important;
    width: 30px !important;
    height: 30px !important;
    -moz-border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    object-fit: cover !important;
    padding: 5px 0 !important;
}

.show_reply_to_name {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 6px;
    line-height: 1rem;
    color: #3f3f3f;
}

.show_reply_to_message {
    font-size: 0.65rem;
    line-height: 0.65rem;
    color: #8a9aa4;
}

.close_icon {
    height: 25px;
    margin-left: auto;
    padding: 5px;
    fill: #8a9aa4;
    cursor: pointer;
}

.a{
    text-decoration: none;
    color: #222;
}
.a:hover {
    text-decoration: none;
}

.post_message {
    padding: 10px;
    cursor: pointer;
}

.reply_btn {
    display: none;
    background-color: #94847b;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
    border-radius: 5px;
    cursor: pointer;
}

.reply_btn:after{
    content: "";
    position: absolute;
    bottom: -14px;
    left: 45px;
    margin-left: -17px;
    border: 7px solid transparent;
    border-top: 7px solid #94847b;
    z-index: 11;
}

.reply_btn p{
    font-weight: bold;
    text-align: center;
    font-size: 0.6rem;
    padding: 0 5px 5px 5px;
    color: #fff;
    padding-bottom: 15px;
}

.reply_icon{
    width: 20px;
    height: auto;
    text-align: center;
    padding: 15px 25px 8px 25px;
    fill: #fff;
}

.delete_btn {
    display: none;
    background-color: #94847b;
    height: 70px;
    width: 70px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 11;
    border-radius: 5px;
    cursor: pointer;
}

.delete_btn:after{
    content: "";
    position: absolute;
    bottom: -14px;
    left: 45px;
    margin-left: -17px;
    border: 7px solid transparent;
    border-top: 7px solid #94847b;
    z-index: 11;
}

.delete_btn p{
    font-weight: bold;
    text-align: center;
    font-size: 0.6rem;
    padding: 0 5px 5px 5px;
    color: #fff;
    padding-bottom: 15px;
}

.delete_icon{
    width: 20px;
    height: auto;
    text-align: center;
    padding: 15px 25px 8px 25px;
    fill: #fff;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    z-index: 10;
}

.preview_close_icon {
    display: none;
    height: 25px;
    margin-left: auto;
    padding: 5px;
    fill: #8a9aa4;
    cursor: pointer;
    position: absolute;
    left: 245px;
}

.btn_ellipsis {
    position: absolute;
    right: 0;
    top: 0;
    padding: 18px;
    color: #94847b;
    cursor: pointer;
    background-color: #fff;
}

.ellipsis_menu {
    display: none;
    background-color: #fff;
    z-index: 10;
    position: absolute;
    border-radius: 3px;
    box-shadow: 0 0px 8px rgb(0 0 0 / 15%);
    right: 5px;
    top: 15px;
}

.ellipsis_menu p {
    padding: 20px 20px 20px 25px;
    font-size: 1.2rem;
    letter-spacing: 0.3px;
    color: #94847b;
    cursor: pointer;
}

.ellipsis_menu p:first-child{
    border-bottom: 1px solid #eee;
}

.ellipsis_menu a {
    text-decoration: none;
}

@media only screen and (max-width: 1000px) {

    body {
        padding: 0px;
    }

}