*{
  box-sizing: border-box;
}

body{
  margin:20px 120px;
  font-size: 12px;
  color: #716246;
  background-image:
  repeating-linear-gradient(to bottom,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04)2px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
  repeating-linear-gradient(to right,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px 40px;
}

.item1 { 
  width: 45%;
  overflow:hidden;
  margin-bottom: 1em;
  border-radius: 30px;
  border: 1px solid #999;
  padding: 30px;
  text-align: center;
  background-color:#ffedab;
}
.item2 { 
  width: 45%;
  overflow:hidden;
  margin-bottom: 1em;
  border-radius: 30px;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
  background-color:#b3ada0;
}
.item3 { 
  width: 45%;
  overflow:hidden;
  margin-bottom: 1em;
  border-radius: 30px;
  border: 1px solid #999;
  padding: 20px;
  text-align: center;
  background-color:#f8f4e6;
}

 div img{
  width: 80%;
  padding: 10px 0;
}
.container p{
  text-align: center;
  color: #716246;
  font-size: 20px;
  font-weight: bold;
  border-bottom: double 6px #716246;
  width: 150px;
  display: inline-block;
}  

@media (max-width: 640px) {
  body{
    margin: 20px 25px;
  }

  .item1 {
    width: 100%;
    overflow:hidden;
    margin-bottom: 1em;
    border-radius: 30px;
    border: 1px solid #999;
    padding: 10px 30px;
    text-align: center;
  }
  .item2 {
    width: 100%;
    overflow:hidden;
    margin-bottom: 1em;
    border-radius: 30px;
    border: 1px solid #999;
    padding: 10px 30px;
    text-align: center;
  }
  .item3 {
    width: 100%;
    overflow:hidden;
    margin-bottom: 1em;
    border-radius: 30px;
    border: 1px solid #999;
    padding: 10px 30px;
    text-align: center;
  }

  .container p {
    text-align: center;
    color: #716246;
    font-size: 20px;
    font-weight: bold;
    border-bottom: double 6px #716246;
    width: 280px;
    display: inline-block;
  }

  .container h4{
    font-size: 13px;
  }
  .container span{
    font-size: 15px;
  }
}