* {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  color:#726250;
  overflow-x: hidden;
  font-family: sans-serif;
}

.logo {
  width: inherit;
  margin-top: 22px;
  margin-left: 2px;
}

body {
  padding: 0 16px;
  background-image:
  repeating-linear-gradient(to bottom,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px,
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px,
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px,
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px,
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

  repeating-linear-gradient(to right,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px,
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px,
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px,
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px,
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}

.balloon{
  margin-top: 2vh;
}

.serif-left {
 position: relative;
 padding: 2vh;
 width: 100%;
 border-radius: 10px;　//吹き出しの形を変更できます
 margin-top: 4vh;
 margin-bottom: 3vh;
 background: #f5deb3;　
}


.flex{
  display: flex;
  margin-bottom: 15px;
}

.more{
  display: block;
  text-align: left;
  margin-top: 2vh;
}
  .contant {
    display:inline-block;
    width: 100%;
    margin-top: 40px;
    padding: 1.5rem;
    border: 2px solid #726250;
    background: #fff;
  }


  .contant span,
  .contant h2 {
    z-index: 1;
  }

.contant .flex a{
  font-size: 20px;
    width: 350px;
  background: linear-gradient(transparent 50%, yellow 50%);
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  }

.shop{
  display: flex;
  margin-right: 2vh;
   align-items: flex-start;
}
.shop-image{
margin-left: auto;
margin-top: auto;
}

.food-image img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

.food-image {
  padding-top: 5px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}