area{
  cursor: pointer;
}
body{
  overflow-x: hidden;
  font-family: sans-serif;
  margin: 10px 18px;
  background-image:
  repeating-linear-gradient(to bottom,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04)2px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),
  repeating-linear-gradient(to right,
  transparent 25px,
  rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
  transparent 27px,  transparent 51px,
  rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
  transparent 53px,  transparent 77px,
  rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
  transparent 79px,  transparent 103px,
  rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
  transparent 105px,  transparent 129px,
  rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
}
.logo{
  margin-top: 12px;
}
.map{
  margin-top: 20px;
  display: flex;
}

.dokuta{
  width: auto;
  height: 120px;
  position: absolute;
  left: 860px;
  bottom : 0px; 
}

.comment{
  color: #856859;
  display: flex;
}

#comment b{
  border-bottom: 2px solid #856859;
  margin-bottom: 1px;
}

#comment span{
  font-weight: bold;
}

.left_balloon {
  background: #FCE2B1;
  border: 1px solid #FCE2B1;
  margin: 10px;
  padding: 40px;
  border-radius: 15px;
  clear: both;
  line-height:1.4rem;
  position: absolute;
  left: 470px;
  bottom: 100px;
  width: 300px;
  font-weight: bold;
}
.right{
  margin-left: 250px;
  display: block;
}

a{
  color: #856859;
  font-weight: bold;
}
.map_switch{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 240px;
  }
  
  .change_button a{
    position: absolute;
    top: 15px;
    right: 10px;
    z-index: 99;
    display: inline-block;
      padding: 13px 50px;
      color: #94847b;
      line-height: 1.0em;
      cursor: pointer;
      border: none;
      border-radius: 20px;
      background-color: #fdf1c8;
      font-weight: bold;
      font-size: 1.0rem;
      text-decoration: none;
  }

@media (max-width: 1000px) {
  .dokuta {
    left: unset;
    right: 0;
  }
  .left_balloon{
    left: unset;
    right: 100px;
  }
}


@media (max-width: 800px) {

.wrapper{
  margin: 10px;
}

.logo{
  width: auto;
}

.dokuta{
  position: unset;
  width: auto;
  height: 15vw;
  transform: scale(-1, 1);
}

.left_balloon {
  position: unset;
  background: #FCE2B1;
  border: 1px solid #FCE2B1;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  clear: both;
  line-height:1.3rem;
  margin-top: 0;

}
.left_balloon:after,
.left_balloon:before {
  right: 100%;
  top: 45%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}


#comment b{
  border-bottom: 2px solid #856859;
  margin-bottom: -10px;
}

a{
  margin-left: 0;
  display: block;
}
.right {
  text-align: right;
  margin-left: 0;
}
.map_switch{
  text-align: right;
  margin-left: 0;
  max-width: 410px;
  }

}

@media (max-width: 460px) {
  .map{
    width: 100%;
  }
}


